---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/common/Header.astro';
import Hero from '../components/common/Hero.astro';
// Importamos tu JSON con todos los proyectos

---

<Layout title="Inicio | KNARQ_"
  description={project.description}
  image={project.images.hero}>
  <div class="h-dvh w-full flex flex-col overflow-hidden bg-white">
    
    <div class="flex-none">
      <Header />
    </div>
    
    <main class="flex-1 max-h-full min-h-0 w-full relative group">
      <Hero />
    </main>
</Layout>

<script>

</script>